In [ ]:
import pandas as pd
import numpy as np

Stu_list = {}
Lesson_status = ["KALDI", "KOŞULLU", "GEÇTİ"]
Stu_lesson = {}
letter_grade = {}

def Stu_info():
    Stu_name = str(input("\nPlease enter student name : "))
    Stu_surname = str(input("Please enter student surname: "))

    Stu_name_surname = f"{Stu_name} ".capitalize() + f"{Stu_surname}".upper()

    Stu_lesson = str(input("Please enter lesson name: "))
    Stu_ID_no = int(input("Please enter student ID number: "))
    Stu_point_grade = int(input("Lütfen öğrencinin sınav notunu giriniz: "))
  
    if Stu_point_grade > 100 or Stu_point_grade < 0:
      Stu_point_grade = int(input("Student grade must be between 0 and 100! Please enter the student's exam grade: "))
    
    if Stu_point_grade >0 and Stu_point_grade<= 40:
      letter_grade= ("FF")
    if Stu_point_grade >41 and Stu_point_grade<=59:
      letter_grade= ("DC")
    if Stu_point_grade >60 and Stu_point_grade<=69:
      letter_grade= ("CC")
    if Stu_point_grade >70 and Stu_point_grade<=74:
      letter_grade= ("CB")
    if Stu_point_grade >75 and Stu_point_grade<=79:
      letter_grade= ("BB")
    if Stu_point_grade >80 and Stu_point_grade<=89:
      letter_grade= ("BA")
    if Stu_point_grade >90 and Stu_point_grade<=100:
      letter_grade= ("AA")
    else:
      pass
      
      if Stu_point_grade >= 60:
        Stu_status = Lesson_status[2]
      elif Stu_point_grade > 41 and Stu_point_grade <= 59:
        Stu_status = Lesson_status[1]
      else:
        Stu_status = Lesson_status[0]

      Stu_list[Stu_name_surname] = [Stu_ID_no, Stu_lesson, Stu_point_grade, letter_grade, Stu_status]

def dataframe(data): 
  global df_Stu_list
  df_Stu_list = pd.DataFrame.from_dict(data, orient ='index')
  df_Stu_list.columns = ['Okul No','Ders','Ders Notu','Harf Notu','Durum']
  df_Stu_list.info()
  return df_Stu_list

def excel(data):
  data.to_excel("StudentGradeList.xlsx")

In [ ]:
Stu_info()

In [ ]:
Stu_list.items()

dict_items([('Volkan CEBECI', [200208090, 'Matematik', 85, 'BA', 'GEÇTİ']), ('Selin KÖMÜR', [185659856, 'Fizik', 38, 'FF', 'KALDI']), ('Çağrı YILDIRIM', [124866536, 'Python', 56, 'DC', 'KOŞULLU']), ('Nesrin AĞGÜL', [215658359, 'Web Programlama', 23, 'FF', 'KALDI'])])

In [ ]:
dataframe(Stu_list)

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Volkan CEBECI to Nesrin AĞGÜL
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Okul No    4 non-null      int64
 1   Ders       4 non-null      object
 2   Ders Notu  4 non-null      int64
 3   Harf Notu  4 non-null      object
 4   Durum      4 non-null      object
dtypes: int64(2), object(3)
memory usage: 192.0+ bytes

                  Okul No             Ders  Ders Notu Harf Notu    Durum
Volkan CEBECI   200208090        Matematik         85        BA    GEÇTİ
Selin KÖMÜR     185659856            Fizik         38        FF    KALDI
Çağrı YILDIRIM  124866536           Python         56        DC  KOŞULLU
Nesrin AĞGÜL    215658359  Web Programlama         23        FF    KALDI

In [ ]:
excel(df_Stu_list)

In [ ]:
print(df_Stu_list)

                  Okul No             Ders  Ders Notu Harf Notu    Durum
Volkan CEBECI   200208090        Matematik         85        BA    GEÇTİ
Selin KÖMÜR     185659856            Fizik         38        FF    KALDI
Çağrı YILDIRIM  124866536           Python         56        DC  KOŞULLU
Nesrin AĞGÜL    215658359  Web Programlama         23        FF    KALDI